* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

.logo img {
    float: left;
    margin-left: 100px;
    /*        padding: 20px 0 20px 20px;*/

    background-image: url("/img/ioA6tYaKRbU.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    box-shadow: 0px 0px 0px lightgreen;
}

.empty_block{
height:50px;
}

.header {
    height: 160px;
    text-align: right;
    padding-bottom: 0px;
    /*    margin-bottom: 20px;*/
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
    padding-right: 50px;
}

.header li {
    float: right;
    display: flex;
    width: 150px;
    list-style-type: none;
    /*        border: 2px blue solid;*/
    /*    height: 55px;*/
    /*        align-items: center;*/
    justify-content: center;
    /*        vertical-align: middle;*/
    /*    margin-right: 0px;*/
    /*    background-color: azure;*/
    border-radius: 100px;
    margin-top: 6%;
    box-shadow: 10px 10px 10px grey;
    font-size: 25px;
    font-family: monospace;


}

.header li:hover {
    /*    outline: 1px blue solid;*/
    transition-duration: 0.5s;
    /*    background-color: deepskyblue;*/
    /*    box-shadow: none;*/
    box-shadow: 4px 5px 50px grey;
    /*    box-shadow: -5px 15px 10px skyblue;*/

}

.list > li a {
    display: flex;
    /*       justify-content: center;*/
    align-items: center;
    text-decoration: none;
    height: 35px;
    margin: 0 auto;
    color: darkslategray;
    font-weight: 500;

}

.info {
    display: flex;
    margin: 0px auto 0px;
    width: 80%;
    /*    border: 1px red solid;*/
    box-shadow: -5px 15px 10px skyblue;
    align-items: center;
    border-radius: 200px;
    font-family: monospace;



}

.names {

    box-shadow: -5px 15px 10px skyblue;
    border-radius: 200px;
    padding: 10px 20px;
    letter-spacing: 3px;

}

.description {
    /*    width: 60%;*/
    font-size: 35px;
    margin: 0 auto;
    padding: 0px 0;
    /*    color: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);*/
    text-align: right;
    /*    margin-bottom: 200px;*/

}

.content{
width: 80%;
margin: 0 auto;
flex: 1 0 auto;
}

.desc {
    width: 100%;
    font-weight: 600;
    color: dodgerblue;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 0px skyblue;
    border-radius: 200px;


}

.desc li {
    margin-bottom: 10px;
    font-style: normal;
    /*            text-decoration: underline darkgrey;*/
    box-shadow: 5px 3px 10px grey;
    font-size: 25px;
    padding: 5px;
    font-family: monospace;
    border-radius: 200px;
    letter-spacing: 2px;

}


ul.checkmark li:before {
    content: "\2713\0020";
    color: forestgreen;

}

ul a {
    text-decoration: none;
    color: mediumaquamarine;
}

.checkmark li:hover {
    /*        color: aqua;*/
    transition-duration: 0.1s;
    box-shadow: 0px 12px 10px orange;

}

ul {
    list-style-type: none;
}

.wrap{
    display: flex;
    flex-direction: column;
    height: 100%;

}


.content-section{
display: flex;
flex-direction: column;
align-items: flex-end;
margin: 0 auto;


}

.update_info{
text-align: center;
width: 300px;

}


.card{
text-align: center;
align-items: center;
width: 300px;
border :none;
}

.post{
width: 80%;
padding: 10px 40px;
margin: 0 auto;
}

.post_paginate{
width: 40%;
text-align: center;
margin: 0 auto;

}


.account-img{
width:200px;
border-radius: 50px;
}

.account-img:active{
width:500px;
position: absolute;
bottom: -400px;
right: 500px;
box-shadow: 1px 1px 10px 3px aqua;

}

.font_info{
font-size: 20px;
color: blue;
}

.font_update{
color: orange;
font-size: 20px;

}


.login_form{
width: 50%;
align-items: center;
margin: 0 auto;
}


.footer {
    display: flex;
    width: 100%;
    height: 100px;
    /*    border: 2px red solid;*/
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-family: monospace;
   flex: 0 0 auto;

}
